[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
voting = "3qdGapBa9fKXAXVdawmuN2Ug4VktMnpNjFEophp5yJrF"

[programs.devnet]
voting = "3qdGapBa9fKXAXVdawmuN2Ug4VktMnpNjFEophp5yJrF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx vitest run"
